.todo-sections {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    > li {
        list-style-type: none;
        flex: 1;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #ccc;
        transition: background-color 0.2s ease-in-out;
        height: 50px;
        line-height: 50px;

        &:hover {
            background-color: #eee;
        }

        &.active {
            background-color: #8cb691;
        }
    }
}